
.boxone{
    text-align: center !important;
    a{
        background-color: #708196;
    color: #fff;
    padding: 18px 117px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
    }
}
.boxtwo{
    text-align: center !important;
    a{
        background-color: #708196;
        color: #fff;
        padding: 18px 117px;
        text-decoration: none;
        font-size: 20px;
        border-radius: 5px;
    }
}
.boxthree{
    text-align: center !important;
    a{
        background-color: #708196;
        color: #fff;
        padding: 18px 117px;
        text-decoration: none;
        font-size: 20px;
        border-radius: 5px;
    }
}
.sectiontwo{
    margin-top: 60px;
    text-align: center;
    p{
        text-align: center;
        margin-top: 30px;
    }
    
}
.bg-theme-clr .pb-4 .pt-md-4{
    margin-top: 0;
    width: 60px;
}

.md-form .mt-0 .search-box .bg-info.form-control{
    background-color: bisque;
    border-color: black;

  }

  .table-responsive{
      background-color: #708196;
  }

